{% extends 'request.html' %}   <!--최상단에 base가 될 base.html을 연결시켜준다.-->
{% load static %}
{% block content %} <!--컨텐츠영역에 사용될 태그 선언-->

    <div class="cont_box_wrap">
        <ul>
            <li>
                <div class="cont_box_text">
                    <h6>지원 요청 완료</h6>
                    <p>13 / 16</p>
                </div>
                <div class="cont_box_percent">
                    <img src="{% static 'images/sample_per.png' %}">
                </div>
            </li>
            <li>
                <div class="cont_box_text">
                    <h6>긴급 지원 요청</h6>
                    <p>1 / 16</p>
                </div>
                <div class="cont_box_percent">
                    <img src="{% static 'images/sample_per.png' %}">
                </div>
            </li>
            <li>
                <div class="cont_box_text">
                    <h6>전체 지원 요청</h6>
                    <p>16 / 214</p>
                </div>
                <div class="cont_box_percent">
                    <img src="{% static 'images/sample_per.png' %}">
                </div>
            </li>
        </ul>
    </div>
    <div class="cont_board_list">
        <form>
            <table class="table_design_a" id="request_list">
                <caption>
                    MY REQUEST LIST
                    <div class="table_btn_wrap">
                        <a class="write" href="{% url 'request:add' %}"><div><hr><hr></div>Create New</a>
                    </div>
                </caption>

                <colgroup>
                    <col style="width:8%">
                    <col style="width:52%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:10%">
                </colgroup>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>제목</th>
                        <th>담당자</th>
                        <th>요청일</th>
                        <th>마감일</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in object_list %}
                    <tr onclick="location.href='{% url 'request:detail' pk=request.id %}'">
                        <td>{{forloop.counter}}</td>
                        <td class="txt_align_left text_bold td_emergency">{{request.subject}}</td>
                        <td id="list_profile"><img src="{% static 'images/profile_sample_02.png' %}">{{request.name}}</td>
                        <td>{{request.created_date}}</td>
                        <td>{{request.finished_date}}</td>
                        <td>{{request.memo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="table_paging">
                <ul>
                    <li></li>
                    <li></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </form>
    </div>

{% endblock %}





<!-- 초기 list
<div class="btn-group">
    <a href="{% url 'add' %}" class="btn btn-info">Add Bookmark</a>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for request in object_list %}
        <tr onclick="location.href='{% url 'detail' pk=request.id %}'">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{request.mail}}</td>
            <td></td>
            <td>{{request.hits}}</td>
            <td><a href="{% url 'update' pk=request.id %}" class="btn btn-success btn-sm">modify</a></td>
            <td><a href="{% url 'delete' pk=request.id %}" class="btn btn-success btn-sm">delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
-->